<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94985888500-bmk5lpfhq9gfjc3h92rkkdocrr233iac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94985888500-bmk5lpfhq9gfjc3h92rkkdocrr233iac</string>
	<key>API_KEY</key>
	<string>AIzaSyB75FxVC44yzyN4Pnl0iUG11f0kceYslvU</string>
	<key>GCM_SENDER_ID</key>
	<string>94985888500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snak4ev.yst</string>
	<key>PROJECT_ID</key>
	<string>snak4ev-75359</string>
	<key>STORAGE_BUCKET</key>
	<string>snak4ev-75359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94985888500:ios:f194c9226e7c0b3554b4a1</string>
</dict>
</plist>