<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Requires user’s location for better user experience to get more charge station near by you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires user’s location for better user experience to get more charge station near by you.</string>
	<key>NSCameraUsageDescription</key>
	<string>To make it easier to take your photo from camera</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
